<form  [formGroup]="form" (ngSubmit)="agregar()">
<div class="card">
    <div class="card-header">
        <h1 class="card-title">Agregar producto</h1>
    </div>
    <div class="card-body">
        <mat-grid-list cols="2" rowHeight="50px">
            <mat-grid-tile>
                <mat-form-field class="form-input" appearance="standard">
                    <mat-label>Código</mat-label>
                    <input matInput value="" formControlName="codigo">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="form-input" appearance="standard">
                    <mat-label>Nombre</mat-label>
                    <input matInput value="" formControlName="nombre">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="form-input" appearance="standard">
                    <mat-label>Marca</mat-label>
                    <input matInput value="" formControlName="marca">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="form-input" appearance="standard">
                    <mat-label>Proveedor</mat-label>
                    <input matInput value="" formControlName="proveedor">
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
<br>
<div class="action-group-buttons">
    <button type="submit" mat-raised-button color="primary">Confirmar</button>
    <button mat-button routerLink="..">Volver</button>
</div>
</form>