<div class="card">
    <div class="card-header">
        <h1 class="card-title">Ver Producto</h1>
    </div>
    <div class="card-body" *ngIf="producto">
        <mat-grid-list cols="2" rowHeight="75px">
            <mat-grid-tile>
                <mat-form-field class="form-input" appearance="legacy">
                    <mat-label>Código</mat-label>
                    <input matInput value="{{ producto.codigo }}" readonly>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="form-input" appearance="legacy">
                    <mat-label>Nombre</mat-label>
                    <input matInput value="{{ producto.nombre }}" readonly>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="form-input" appearance="legacy">
                    <mat-label>Marca</mat-label>
                    <input matInput value="{{ producto.marca }}" readonly>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="form-input" appearance="legacy">
                    <mat-label>Proveedor</mat-label>
                    <input matInput value="{{ producto.proveedor }}" readonly>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
<br>
<div class="action-group-buttons">
    <button mat-button routerLink="/home/productos">Volver</button>
</div>